*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f7fa;
    font-family: Inter;
}

@font-face {
    font-family: "Inter";
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}
.navigation{
 display: flex;
padding: 21px 120px 22px 105px;

}
.navigationfirst{
    display: flex;
    align-items: center;
    color: #263238;
    font-size: 9px;
    margin-right: 290px;
}
#Iconpng{
    width: 24px;
    height: 16px;
}

.navigationsecond{
    display: flex;
    gap: 17px;
    align-items: center;
font-weight: 500;
font-size: 13px;
line-height: 150%;
text-align: center;
color:#4D4D4D;
margin-right: 190px;
}

.navigationthird{
    display: flex;
    align-items: center;
   gap: 34px;
font-family: Inter;
font-size: 13px;
font-weight: 500;
line-height: 20px;
text-align: center;
color:#4CAF4F;
width: 182px;
height: 40px;

}
.buttonfirst{
    width: Hug (91px)px;
    height: Hug (40px)px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 6px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    color: #f5f7fa;
    background-color: #4CAF4F;
    border: none;
    cursor: pointer;
    
    

}
.main{
    display: flex;
    align-items: center;
    gap: 104px;
    padding: 96px 144px 161px 144px;
}
#mainh1{
font-family: Inter;
font-size: 60px;
font-weight: 600;
line-height: 76px;
text-align: left;
color: #4D4D4D;
margin-bottom: 10px;
}
#green{
    font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 76px;
text-align: left;
color: #4CAF4F;
}
.mainparagraph{
font-family: Inter;
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: left;
color:#717171;
margin-bottom: 32px;
}

.buttonsecond{
    width: Hug (120px)px;
    height: Hug (32px)px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    border-radius: 4px ;
    opacity: 0px;
    background-color: #4CAF4F;
    color: #f5f7fa;
    border: none;
    cursor: pointer;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    
}
#mainimage{
    width: 391px;
height: 407px;


}